# Python
__pycache__/
*.pyc


# Environments & Dependencies
.venv
venv
env
.env

# IDEs & Editors
.vscode/
.idea/


# Databases
app.db
*.db
users_db.json

# Project specific
.pytest_cache/
.coverage
htmlcov/
*.log

